{
  "log": {
    "_recordingName": "validate-invocation",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "dee32538e28d432f581f1db5e590c99d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[]"
          },
          "queryString": [
            {
              "name": "count",
              "value": "0"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://api.platform.cycognito.com/v1/issues?count=0&offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2,
            "text": "[]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2326,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
