{
  "log": {
    "_recordingName": "fetch-issues",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "855045963f3208cdc57dc2e8a78131d3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[]"
          },
          "queryString": [
            {
              "name": "count",
              "value": "500"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://api.platform.cycognito.com/v1/issues?count=500&offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 54180,
            "text": "[{\"affected_asset\":\"ip/103.206.226.33\",\"owned_by\":\"Acme Interior Design\",\"last_detected\":\"2022-03-31T03:39:22.568Z\",\"references\":[\"https://devco.re/blog/2019/09/02/attacking-ssl-vpn-part-3-the-golden-Pulse-Secure-ssl-vpn-rce-chain-with-Twitter-as-case-study/\",\"https://nvd.nist.gov/vuln/detail/CVE-2019-11510\",\"https://www.nsa.gov/News-Features/Feature-Stories/Article-View/Article/2573391/russian-foreign-intelligence-service-exploiting-five-publicly-known-vulnerabili/\"],\"threat\":\"Information Disclosure\",\"tags\":[],\"id\":\"issue/103.206.226.33-cve-2019-11510\",\"issue_status\":\"new\",\"issue_id\":\"CVE-2019-11510\",\"first_detected\":\"2022-03-31T03:39:22.568Z\",\"summary\":\"| The Pulse Secure VPN has been confirmed to be vulnerable to an arbitrary file reading vulnerability. | Unauthenticated remote attackers can send the asset a specially crafted URI and thereby access arbitrary sensitive files. | Attackers can leverage the harvested information to perform further attacks.\",\"resolved_at\":null,\"investigation_status\":\"uninvestigated\",\"severity_score\":10.0,\"locations\":[\"IND\"],\"detection_complexity\":\"Service Detection\",\"exploitation_method\":\"Metasploit\",\"title\":\"Pulse Secure Arbitrary File Reading\",\"exploitation_score\":3,\"issue_type\":\"Vulnerable Software\",\"organizations\":[\"Acme Interior Design\"],\"comment\":null,\"severity\":\"critical\",\"remediation_steps\":[\"Patch the Pulse Secure VPN to the latest version.\"],\"potential_impact\":[\"Loss of integrity\",\"Loss of confidentiality\",\"Data compromise\"]},{\"affected_asset\":\"ip/104.211.59.49\",\"owned_by\":null,\"last_detected\":\"2022-03-31T03:39:22.568Z\",\"references\":[\"https://support.citrix.com/article/CTX267027\",\"https://nvd.nist.gov/vuln/detail/CVE-2019-19781\",\"https://www.us-cert.gov/ncas/alerts/aa20-031a\",\"https://www.nsa.gov/News-Features/Feature-Stories/Article-View/Article/2573391/russian-foreign-intelligence-service-exploiting-five-publicly-known-vulne[...]
