{
  "log": {
    "_recordingName": "fetch-web-app-assets",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "752920b53bccec2f8bb816833db9ae01",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[]"
          },
          "queryString": [
            {
              "name": "count",
              "value": "500"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://api.platform.cycognito.com/v1/assets/webapp?count=500&offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 18750,
            "text": "[{\"severe_issues_count\":0,\"owned_by\":null,\"tags\":[],\"id\":\"webapp/104.211.59.49\",\"first_seen\":\"2022-03-23T13:15:53.577Z\",\"security_rating\":\"F\",\"investigation_status\":\"uninvestigated\",\"status\":\"new\",\"last_seen\":\"2022-03-31T03:39:22.568Z\",\"type\":\"webapp\",\"organizations\":[\"ACME Cleantech Solutions\",\"Acme Corporation\",\"Acme Holdings\"],\"hosting_type\":\"owned\",\"comment\":null,\"issues_count\":0},{\"severe_issues_count\":0,\"owned_by\":null,\"tags\":[],\"id\":\"webapp/113.23.215.143\",\"first_seen\":\"2022-03-23T13:16:09.067Z\",\"security_rating\":\"F\",\"investigation_status\":\"uninvestigated\",\"status\":\"new\",\"last_seen\":\"2022-03-31T03:39:22.568Z\",\"type\":\"webapp\",\"organizations\":[\"Acme Corporation\"],\"hosting_type\":\"owned\",\"comment\":null,\"issues_count\":0},{\"severe_issues_count\":0,\"owned_by\":null,\"tags\":[],\"id\":\"webapp/124.150.142.238\",\"first_seen\":[...]
