{
  "log": {
    "_recordingName": "build-domain-contains-domain-relationship",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "9a024d5a2a45d3d6b05152f27685c343",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[]"
          },
          "queryString": [
            {
              "name": "count",
              "value": "500"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://api.platform.cycognito.com/v1/assets/domain?count=500&offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 40491,
            "text": "[{\"severe_issues_count\":1,\"owned_by\":null,\"ip_names\":[\"162.222.225.163\"],\"tags\":[],\"id\":\"domain/mfgsubscribe.tilescart.in\",\"sub_domains\":[\"domain/www.mfgsubscribe.tilescart.in\"],\"first_seen\":\"2021-12-07T10:28:02.312Z\",\"security_rating\":\"F\",\"investigation_status\":\"uninvestigated\",\"status\":\"new\",\"locations\":[\"USA\"],\"domain\":\"mfgsubscribe.tilescart.in\",\"last_seen\":\"2022-03-31T03:39:22.568Z\",\"type\":\"domain\",\"organizations\":[\"Acme Homes\"],\"hosting_type\":\"owned\",\"comment\":null,\"issues_count\":1},{\"severe_issues_count\":1,\"owned_by\":null,\"ip_names\":[],\"tags\":[],\"id\":\"domain/sms.lokmedia.in\",\"sub_domains\":[],\"first_seen\":\"2021-12-07T10:48:38.809Z\",\"security_rating\":\"D\",\"investigation_status\":\"uninvestigated\",\"status\":\"new\",\"locations\":[],\"domain\":\"sms.lokmedia.in\",\"last_seen\":\"2022-03-31T03:39:22.568Z\",\"type\":\"domain\",\"organizations\":[\"Acme Corporation\"],\"hosting_type\":\"owned\",\"comment\":null,\"issues_count\":1},{\"severe_issues_count[...]
