{
  "log": {
    "_recordingName": "fetch-ip-range-assets",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "739035432dcbc020a23e955f1274aace",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[]"
          },
          "queryString": [
            {
              "name": "count",
              "value": "500"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://api.platform.cycognito.com/v1/assets/iprange?count=500&offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 11311,
            "text": "[{\"owned_by\":null,\"tags\":[],\"id\":\"iprange/101.132.0.0-101.133.255.255\",\"investigation_status\":\"uninvestigated\",\"status\":\"new\",\"type\":\"iprange\",\"organizations\":[\"Acme Corporation\"],\"hosting_type\":\"undetermined\",\"alive\":true,\"comment\":null},{\"owned_by\":null,\"tags\":[],\"id\":\"iprange/101.37.0.0-101.37.255.255\",\"investigation_status\":\"uninvestigated\",\"status\":\"new\",\"type\":\"iprange\",\"organizations\":[\"Acme Corporation\"],\"hosting_type\":\"undetermined\",\"alive\":true,\"comment\":null},{\"owned_by\":null,\"tags\":[],\"id\":\"iprange/102.164.248.0-102.164.255.255\",\"investigation_status\":\"uninvestigated\",\"status\":\"new\",\"type\":\"iprange\",\"organizations\":[\"Acme Corporation\"],\"ho[...]
